
<div class="container text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://placehold.it/100x100" alt="Paris" >
      <p><strong>Paris</strong></p>
      <p>Friday 27 November 2015</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://placehold.it/100x100" alt="New York">
      <p><strong>New York</strong></p>
      <p>Saturday 28 November 2015</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="http://placehold.it/100x100" alt="San Francisco" >
      <p><strong>San Francisco</strong></p>
      <p>Sunday 29 November 2015</p>
      <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
    </div>
  </div>
</div>

